/*Tie Dye*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, html {
  background: radial-gradient(ellipse at center, #ffff32 0%,#32ce27 33%,#ff00ff 62%,#ffbb00 92%); 
  background-size: 25%;
  background-position: center center;
  animation: bgsize 12s ease-in-out infinite;
  font-family:helvetica;
}

.tiedye-text {
  position: absolute;
  margin-top:50%;
  margin-left:50%;
  color:red;
}

@keyframes bgsize {
  50% {
    background-size: 200%;
  }
}

