/*body {
	overflow:hidden;
	background: radial-gradient(ellipse at center, #ffff32 0%,#32ce27 33%,#ff00ff 62%,#ffbb00 92%); 
  	background-size: 50%;
  	background-position: center center;
  	animation: bgsize 12s ease-in-out infinite;
}*/

body {
	background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

a {
	color:magenta;
}

.header {
  font-family: Helvetica,sans-serif;
  font-size: 60px;
  color:white; 
}

.header-text {
  padding: 10px;
  border: 5px solid magenta;
  text-align: center;
}

/*IMAGES*/

.gingers {
  cursor:pointer;
}

.gingers img {
  margin-left:40vw;
  margin-top:40vh;
  border: 1px solid magenta;
  padding:20px;
  position:fixed;
  width:30%;
}

.gingers a {
  cursor:pointer;
}

.me {
  cursor:pointer;
	}

.me img {
  margin-left:5vw;
  margin-top:10vh;
  width:30%;
  border: 1px solid magenta;
  padding:20px;
  position:fixed;
}

.me a {
  cursor:pointer;
}

.shrek {
  cursor: pointer;
}

.shrek img {
  margin-left:60vw;
  margin-top:5vh;
  width:20%;
  border: 1px solid magenta;
  padding:20px;
  position:fixed;

}

.shrek a {
  cursor:pointer;
}

/*end of IMAGES*/