body {
	font-family: helvetica;
	font-size: 24px;
	background-color: blue;
}

a {
	color:red;
}


/*filter classes*/

.active {
	color:lime;
}

.hide {
	display: none;
}

/*header*/

.header {
  padding: 20px;
  text-align: left;
  background: blue;
  font-size: 50px;
  border: 1px solid magenta;
  color: blue;
  -webkit-text-stroke: 2px magenta;
}

/*end of header*/

/*scroll heading*/

.left-header {
  width:100vw;
  height:100px;
  text-align: left;
  padding:10px;
  background: blue;
  position:absolute;
  margin-left:50vw;
  font-size: 30px;
  border: 1px solid magenta;
  color: magenta;
  /*-webkit-text-stroke: 2px magenta;*/
}

.scroll1 {
  height: 100px;  
  background-color:blue;
  color:blue;
  position: fixed;
  width: 100vw;
  height: 100px;
  margin-top:0px;
  line-height: 100px;
  text-align:left;
  font-size:80px;
  font-style:italic;
  font-weight:bold;
  overflow:hidden;
  pointer-events:none;
  flex-wrap:wrap;
  display:flex;
  -webkit-text-stroke: 3px lime;
  border: 4px solid magenta;
}

.scroll2 {
  height: 7vh;  
  background-color:blue;
  color:lime;
  width: 50vw;
  line-height: 50px;
  font-size:20px;
  /*font-style:italic;*/
  /*font-weight:bold;*/
  overflow:hidden;
  pointer-events:none;
  flex-wrap:wrap;
  display:flex;
/*  -webkit-text-stroke: 1px lime;*/
  border: 4px solid magenta;
}
/*end of scroll*/

/*spotify*/

.spotify-grid {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.spotify-content {
	border: 4px solid magenta;
/*	flex: 0 50%;*/
	padding:20px;
	display: block;
	width: 100vw;

}

/*layout*/
.grid {
	padding-top:100px;
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: magenta;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
}

.left-content {
	background-color: blue;
	color: magenta;
}

.right {
	color: magenta;
	background-color: blue;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;	
}

.right-content {
	padding: px;
	background-color: blue;
}

.right img {
	width: 100%;
}
/*end of layout*/



/*Festival Grid*/

.months-header {
  padding: 10px;
  color: magenta;
  font-size: 20px;
  border: 4px solid magenta;
  text-align: center;
  cursor: pointer;
}

.months {
	
}

.intro {
	padding: 20px;
}

.festival-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border: 4px solid magenta;
}

.thumbnail {
	flex: 0 50%;
}

.thumbnail-content {
	padding: 10px;
	color: magenta;
}

.thumbnail img {
	width:100%;
	border: 4px solid magenta;
	padding:20px;
	display: block;
}

.thumbnail-text {
	border: 4px solid magenta;
	padding:10px;
}


.title {
	font-weight:bold;
	font-size:20px;
	color:lime;
}

.date {
	font-size:20px;
	font-weight: bold;
}

.location {
	font-size:18px;
}

.genre {
	font-size:16px;
}

.style {
	font-size:14px;
}

.price {
	font-size:12px;
}
/*end of grid*/

/*hover*/
.thumbnail-item {
	cursor:pointer;
	height: auto;
	margin: 0 auto;
}
.thumbnail-item:hover img.bw {
	display:none;
}

.thumbnail-item:hover img.colour {
	display:block;
}

img.colour {
	display: none;
}
/*end of hover*/


